<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- Common head elements like stylesheets and scripts -->
</head>

<body>
    <header>
        <!-- Common header content -->
    </header>

    <main>
        <%- body %> <!-- The unique content of your views will be injected here -->
    </main>

    <footer>
        <!-- Common footer content -->
    </footer>
</body>

</html>