<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UConnect - Alumni Manager Registration</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            font-size: 1em;
            font-family: 'Inter', sans-serif;
        }

        .container {
            display: flex;
            height: 100vh;
        }

        .carousel-container {
            flex: 7;
            overflow: hidden;
        }

        .registration-container {
            flex: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            margin: 0;
        }

        .registration-form {
            padding: 10px;
            max-width: 400px;
        }

        .registration-form h2,
        .registration-form p {
            color: white;
            margin-bottom: 5px;
        }

        .registration-form img {
            margin-bottom: 5px;
        }

        .registration-form form {
            display: flex;
            flex-direction: column;
        }

        .registration-form textarea {
            font-family: 'Inter', sans-serif;
        }

        .registration-form input,
        .registration-form select,
        .registration-form textarea {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: white;
            color: #265CFF;
        }

        .registration-form select:focus,
        .registration-form input:focus,
        .registration-form textarea:focus {
            outline: none;
            border-color: #265CFF;
        }

        .registration-form button:hover {
            background-color: transparent;
            color: #265CFF;
            background-color: transparent;
            border: 1.5px solid #265CFF;
            font-weight: bold;

        }

        .registration-form select {
            color: #6c6c6c;
        }

        .registration-form button {
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid #265CFF;
            border-radius: 5px;
            background-color: #265CFF;
            color: white;
            cursor: pointer;
            font-weight: bold;
        }

        .registration-form a {
            color: #265CFF;
            text-decoration: none;
        }

        .carousel img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }

        .logo {
            width: 224px;
            height: 40px;
            display: block;
        }

        .navlinks {
            font-size: 90%;
        }

        @media (max-width: 853px) {
            .carousel-container {
                display: none;
            }
        }

        @media (max-width: 800px) {
            .container {
                flex-direction: column;
            }

            .registration-container {
                width: 100%;
                order: 2;
            }

            .registration-form {
                width: 90%;
                margin: 0 auto;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="registration-container">
            <div class="registration-form">
                <img src="/images/logo_original.png" alt="UConnect Logo" class="logo">
                <h2>Alumni Manager Registration</h2>
                <p>Welcome! Please fill out your details to register</p>
                <form id="registrationForm" action="/registration-options/alumni-manager" method="POST"
                    onsubmit="showConfirmation(event)">
                    <input type="text" name="firstName" id="firstName" placeholder="First Name" required>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name" required>
                    <input type="email" name="emailAddress" id="emailAddress" placeholder="Email Address" required>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"
                        required>
                    <select name="accountType" id="accountType" required>
                        <option value="" disabled selected>Select Account Type</option>
                        <option value="Alumni Manager">Alumni Manager</option>
                    </select>
                    <input type="number" name="graduationYear" id="graduationYear" placeholder="Graduation Year"
                        required>
                    <button type="submit" id="alumniManagerButton">Register</button>
                </form>
                <div class="navlinks">
                    <p>Register a different Account Type? <a href="/registration-options"><b>Registration
                                Options</b></a>
                    </p>
                    <p>Login as an <a href="/login-options/alumni-manager"><b>Alumni Manager </b></a>instead?</p>
                    <p>Login as a different account type? <a href="/login-options"><b>Login Options</b></a></p>
                    <p>Back to <a href="/"><b>Home</b></a>?</p>
                </div>
            </div>
        </div>
        <div class="carousel-container">
            <div id="carousel" class="carousel">
                <img src="/images/reg2.jpg" alt="Image 1">
            </div>
        </div>
    </div>
    <div id="confirmationDialog" style="display: none;">
        <p>Alumni Manager Account Created Successfully!</p>
    </div>
    <script>
        function showConfirmation(event) {
            event.preventDefault();
            if (passwordConfirmation()) {
                document.getElementById('confirmationDialog').style.display = 'block';
                // Handle the notification permission and display
                if ('Notification' in window) {
                    Notification.requestPermission().then(function (permission) {
                        if (permission === "granted") {
                            new Notification('Registration Complete', {
                                body: 'Your registration as an alumni manager has been successful!',
                            });
                        }
                    });
                } else {
                    alert('Your registration as an alumni manager has been successful!');
                }
                setTimeout(function () {
                    event.target.submit();
                }, 2000);
            }
        }

        function passwordConfirmation() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            if (password !== confirmPassword) {
                alert('Passwords do not match. Please try again.');
                return false;
            }
            return true;
        }
    </script>

</body>

</html>